<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="desription"
        content="Aplicación web de e-commerce inspirada en Temu, desarrollada con Node.js y Express. Implementa catálogo de productos, arquitectura modular y una interfaz moderna orientada a la experiencia del usuario.">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="icon" href="./imagenes/logo.png">
    <title>Termu</title>
</head>

<body>
    <header>
        <input type="text" placeholder="Buscar en Termu">
        <img src="./imagenes/logo.png" alt="">

        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>Basado en tu ultima vista
            <article>
                <img class="articulos" src="./imagenes/cafetera.jpg" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>

            <article>
                <img class="articulos" src="./imagenes/macbook.jpg" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>

            <article>
                <img class="articulos" src="./imagenes/galaxy.jpg" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy Z flip6</p>
            </article>

            <article>
                <img class="articulos" src="./imagenes/smart.jpg" alt="">
                <p>$700.000</p>
                <p>15% OFF</p>
                <p>Smart TV - Led TV - electrooutlet</p>
            </article>
        </section>

        <section>Sección de Ofertas
            <article>
                <img class="articulos" src="./imagenes/cafetera.jpg" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>

            <article>
                <img class="articulos" src="./imagenes/macbook.jpg" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>

            <article>
                <img class="articulos" src="./imagenes/galaxy.jpg" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy Z flip6</p>
            </article>

            <article>
                <img class="articulos" src="./imagenes/smart.jpg" alt="">
                <p>$700.000</p>
                <p>15% OFF</p>
                <p>Smart TV - Led TV - electrooutlet</p>
            </article>
        </section>
    </main>

    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
            Con Termu Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>

        <h4>Envío gratis desde los $40.000</h4>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos
        </p>

        <h4>Seguridad, de principio a fin</h4>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>